main {
  padding: 40px;
}

section.game-timer {
  text-align: center;
  margin-bottom: 16px;
}

section.game-board .boards {
  .board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 4px 0;

    & .board-column {
      width: 60px;
      min-width: 48px;
      aspect-ratio: 1 / 1;
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
}
