main {
  padding: 40px;
}

section.game-timer {
  text-align: center;
  margin-bottom: 16px;
  font-family: monospace;
}

section.game-board .boards {
  .board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 4px 0;

    & .board-column {
      width: 60px;
      min-width: 48px;
      aspect-ratio: 1 / 1;
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      text-transform: uppercase;

      &.correct {
        background-color: green;
        color: #fff;
        animation: correctAni 0.65s ease-in-out;

        &:nth-of-type(1) {
          animation-delay: 0s;
        }
        &:nth-of-type(2) {
          animation-delay: 0.25s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.5s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.75s;
        }
        &:nth-of-type(5) {
          animation-delay: 1s;
        }
      }

      &.includes {
        background-color: yellow;
      }
      &.not-correct {
        background-color: gray;
        color: #fff;
      }
    }
  }
}

@keyframes correctAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
