@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

@font-face {
  font-family: "nyt-title";
  src: url(../assets/fonts/karnakcondensed-normal-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: ceremony 1s;
  width: 70vw;
  height: 60vh;
  background-color: #000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;

  &.show {
    display: flex;
  }

  & .title {
    font-size: 120px;
    font-family: "nyt-title";
    color: green;
    -webkit-text-stroke: 2px #fff;
    text-align: center;
    width: 80%;
  }

  & .total-time {
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-weight: 100;
  }

  & .close-btn {
    color: #fff;
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 100;
  }

  & .replay-btn {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 24px;
    padding: 16px;
    background-color: #fff;
    border-radius: 6px;
    color: green;
    border: 1px solid green;
    transition: transform 0.15s ease-out;

    &:active {
      transform: scale(0.95);
    }
  }
}

@keyframes ceremony {
  0% {
    opacity: 0.7;
    transform: translate(2000px, -50%);
    font-size: 50px;
  }

  70% {
    opacity: 1;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
    font-size: 120px;
  }
}

@media (max-width: 680px) {
  .game-over {
    width: 80vw;

    & .title {
      font-size: 80px;
    }
  }
}

@media (max-width: 375px) {
  .game-over {
    width: 90vw;
  }
}
